<!--<mat-toolbar color="primary">-->
<!--  <button mat-icon-button mat-button>-->
<!--    <mat-icon [routerLink]="['/']">home</mat-icon>-->
<!--  </button>-->
<!--  <span>Boring Todo</span>-->
<!--  <span fxFlex></span>-->
<!--  <button mat-icon-button mat-button>-->
<!--    <mat-icon [routerLink]="['/cloud']">backup</mat-icon>-->
<!--  </button>-->
<!--  <button mat-icon-button mat-button>-->
<!--    <mat-icon [routerLink]="['/add']">add_circle</mat-icon>-->
<!--  </button>-->
<!--</mat-toolbar>-->

<router-outlet></router-outlet>
