<!--<h2>Add items</h2>
<form [formGroup]="form" (ngSubmit)="add()" fxLayout="column" fxLayoutAlign="center start">
  <mat-form-field>
    <mat-label>title</mat-label>
    <input type="text" formControlName="title" matInput>
  </mat-form-field>

  <mat-form-field>
    <mat-label>description</mat-label>
    <textarea formControlName="description" matInput
              rows="5" style="resize: none"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>priority</mat-label>
    <mat-select formControlName="priority">
      <mat-option *ngFor="let p of priority" [value]="p">{{p}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button color="primary" type="submit">Add</button>
</form>-->
