.container {
  width: 80%;
  padding-bottom: 50px;
  margin-left: 30px;
}

h4 {
  color: dodgerblue;
}

h2 {
  color: dodgerblue;
  text-decoration: underline;
}


mat-form-field {
  width: 30%;
  margin-left: 20px;
}
